.contentContainer {
  width: 70%;
  margin: auto;
}

.quizContainer {
  display: flex;
}

.quizSearchCards {
  width: 30%;
}

.quizSearchPreview {
  padding-left: 65px;
  width: 70%;
}

.searchBar {
  padding-top: 1.5rem;
}

.headingContainer {
  display: flex;
  padding-top: 2rem;
}

.headingRight {
  margin-left: auto;
  text-align: right;
}
