.contentContainer {
  width: 70%;
  margin: auto;
}

.heading {
  padding: 10px 0 60px 5px;
}

.quizListHeading {
  padding: 0 0 0 7px;
}

.quizContainer {
  display: flex;
}

.quizSearchCards {
  width: 30%;
}

.quizSearchPreview {
  padding-left: 65px;
  width: 70%;
}

.searchBar {
  padding-top: 1.5rem;
}
